[core]
	editor = vim
  excludesfile = ~/.gitignore
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[user]
	name = kenichirow
	email = allagesxxx@gmail.com
[github]
	user = kenichirow

[alias]
  l  = log
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  s  = status -s
  b  = branch -a
  co = checkout
  po = pull origin
[push]
	default = simple
