[core]
	editor = vim
	excludesfile = /Users/kenichiro.watanabe/.gitignore
	quotepath = false 
  cleanup = whitespace
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[user]
	name = kenichirow
	email = 
[github]
	user = kenichirow

[alias]
  l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%Cblue[%ad]\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=local
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%Cblue[%ad]\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat --date=local
  today = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%Cblue[%ad]\\ %Creset%s%Cblue\\ [%cn]" --decorate --since="10am" --author="kenichirow" --date=relative
  b  = branch
  ba = branch -a
  co = checkout
  cb = checkout -b
  c  = commit -v
  cm = commit -m
  pl = pull
  ps = push
  s  = status --short --branch
  ss = status
	dmb = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	merged = !git branch --merged | grep -v \\* 
  detect = !git checkout $(git branch | peco)

[pull]
	default = simple
[commit]
	cleanup = whitespace
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
