[core]
	editor = vim
  excludesfile = ~/.gitignore
	quotepath = false
  cleanup = whitespace
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[user]
	name = kenichirow
	email = allagesxxx@gmail.com
[github]
	user = kenichirow

[alias]
  l  = log
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%Cgreen%ad\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=local
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%Cgreen%ad\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat --date=local
  today = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%Cgreen%ad\\ %Creset%s%Cblue\\ [%cn]" --decorate --since="10am" --author="kenichirow" --date=relative
  s  = status -s
  b  = branch -a
  co = checkout
  po = pull origin
[push]
	default = simple
[commit]
	cleanup = whitespace
